#one {
    height: 150px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: orange;


}

#two {
    height: 150px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: red;

}

#three {
    height: 150px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: purple;

}

#four {
    height: 150px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: black;

}

#five {
    height: 150px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: grey;

}

#six {
    height: 150px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: lightblue;

}

#seven {
    height: 150px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(83, 41, 21);

}

#eight {
    height: 150px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: green;

}

#nine {
    height: 150px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: yellow;

}

#ten {
    height: 150px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-color: blue;

}